
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="100">

    <form [formGroup]="updateForm" (ngSubmit)="updateTeacherDetails()">

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="teacherID" placeholder="teacherID">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="teacherName" placeholder="teacherName">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="teacherEmail" placeholder="teacherEmail">
                <mat-error>need this</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="teacherContactNO" placeholder="teacherContactNO">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput type="password" formControlName="teacherPassword" placeholder="Password*">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput type="password" formControlName="teacherPasswordConfirm" placeholder="Confirm Password*"
                       required>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field appearance="legacy">
                <mat-label>Gender</mat-label>
                <select formControlName="teacherGender" matNativeControl>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">

        </div>

      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <button mat-raised-button color="primary" type="submit">Update Details</button>&nbsp;
          <button mat-raised-button mat-dialog-close="false" color="warn" type="reset">Cancel</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
