.table-data-container{
  max-height: 500px;
  min-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.newStudentButton{
  margin-bottom: 10px;
  font-size: 20px;
  background-color:green;
}

table {
  width: 100%;
}
