<div class="main">

  <div class="container">

    <div class="box">
      <div class="icon">
        <i class="far fa-lightbulb"></i>
      </div>
      <br/>
      <div class="content">
        <h3>About Us</h3>
        <p>To emerge as the most sought-after education and training partner in the region by making a meaningful contribution towards building a knowledgeable society.</p>
        <p>Leverage our affiliations and partnerships to empower the youth to shape their lives and create futures for themselves by providing recognised, affordable and up-to-date knowledge.</p>
    </div>

  </div>
</div>
</div>
