<br/>
<h3 fxLayoutAlign="center">Courses</h3>

<div class="main">


<div class="container">

  <div class="box">
    <div class="icon">
      <i class="fas fa-book-open"></i>
    </div>
    <br/>
    <div class="content">
      <h3>ORDINARY LEVELs</h3>
      <p>G.C.E. Ordinary level (O/L) examination is one of the major examinations in Sri Lanka. this web site provides Lessons, Tutorials, Notes, book references, videos and past papers related to O/L educations.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <div class="box">
    <div class="icon">
      <i class="fas fa-school"></i>
    </div>
    <br/>
    <div class="content">
      <h3>ADVANCED LEVELs</h3>
      <p>If you want to continue your classical subjects such as Biology, Chemistry, Physics, Mathematics, Economics etc. you can register into this program</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <div class="box">
    <div class="icon">
      <i class="fas fa-laptop-code"></i>
    </div>
    <br/>
    <div class="content">
      <h3>DIPLOMA</h3>
      <p>Our Diploma in English / Spoken English course is designed to consolidate and improve the standard of English of students and it covers some major aspects of Listening, with free study materials.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <div class="box">
    <div class="icon">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <br/>
    <div class="content">
      <h3>DEGREE</h3>
      <p>This new programme allows you to develop a wide range of networking abilities highly valued and sought-after by the international network sector. These abilities include creation of networks that meet given needs and purposes, and configuration of a variety of networks for secure operation; you will come to understand the fundamentals of data communications theory and practice.</p>
      <a href="#">Read More</a>
    </div>
  </div>

</div>
</div>
