
<div fxLayoutAlign="center center" fxFlexFill >
  <mat-card fxFlex="100">

    <form [formGroup]="examMarksUpdateForm" (ngSubmit)="updateMarks()">

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="studentID" placeholder="Student ID">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="studentName" placeholder="Name">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="firstTermMarks" placeholder="First Term Marks*">
                <mat-error>need this</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="secondTermMarks" placeholder="Second Term Marks*">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <input matInput formControlName="thirdTermMarks" placeholder="Third Term Marks*">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <mat-label>First Term Note</mat-label>
                <textarea matInput formControlName="firstTermNote"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <mat-label>Second Term Note</mat-label>
                <textarea matInput formControlName="secondTermNote"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="md-form mt-0 mb-2">
            <div class="controllersContainer">
              <mat-form-field>
                <mat-label>Third Term Note</mat-label>
                <textarea matInput formControlName="thirdTermNote"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <button mat-raised-button mat-dialog-close="true" color="primary" type="submit">Insert Marks</button>&nbsp;
          <button mat-raised-button mat-dialog-close="false" color="warn">Cancel</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
